.searchbar {
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  color: black;
  padding: 10px 20px;
  border-radius: 999px;
  min-width: 100%;

  &:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  }
}

.buttonwrap {
  display: flex;
  justify-content: center;
}

.searchbutton {
  background-color: rgb(247, 247, 247);
  border-style: none;
  color: black;
  padding: 10px 20px;
  margin: 25px 5px;
  border-radius: 3px;

  &:hover {
    box-shadow: 0px 0px 3px rgb(133, 133, 133);
  }
}

.search {
  margin-top: 30px;
  justify-content: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 80%;
}

.searchwrap {
  display: flex;
  justify-content: center;
}

.advanced {
  font-family: sans-serif;
  color: rgb(219, 50, 50);
  font-size: 20px;
}


.advanced-input {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;

  padding: 3px;

  &:focus {
    border-color: rgb(3, 121, 231);
    outline: none;
    box-shadow: inset 0 0 1px #000000;
  }
}

.advanced-submit {
  background-color: rgb(65, 106, 218);
  color: white;
  font-weight: 500;
  font-size: 13px;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(52, 85, 175);
  width: min-content;
  margin-left: auto;
}

.flex {
  display: flex;
  justify-content: right;
}

.advanced-form {
  margin-right: 200px;
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
}