{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="email-view">
    <div class="container p-0">
        <div class="row">
            <div class="col">
                <b>From:</b>
                <div style="display: inline-block" id="em-from"></div><br>
                <b>To:</b>
                <div style="display: inline-block" id="em-to"></div><br>
                <b>Subject:</b>
                <div style="display: inline-block" id="em-subject"></div><br>
                <b>Timestamp:</b>
                <div style="display: inline-block" id="em-timestamp"></div><br>
            </div>
            <div class="col-sm">
                <div class="float-right">
                    <button class="btn btn-primary" id="em-reply">Reply</button>
                    <button class="btn btn-danger" id="em-archive"></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <pre id="em-body"></pre>
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" id="send" />
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}